<div class="row" ng-controller="EditController">
    <div class="col-md-5">
        <form ng-show="isEditable()">
            <div class="form-group">
                <label for="Title">Title</label>
                <input name="Title" type="text" class="form-control" placeholder="Enter Title" ng-model="edit.category.Title">
            </div>
            <div class="form-group">
                <label for="Supplier">Supplier</label>
                <input name="Supplier" type="text" class="form-control" placeholder="Enter Supplier" ng-model="edit.category.Supplier">
            </div>


            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>